
<div class="card">
    <div class="card-body">
        <h1>Titulo: {{postagens.titulo}}</h1>
        <p>{{postagens.conteudo}}</p>
        <small>{{postagens.data}}</small><br>
        <small>Categoria: {{postagens.slug}}</small>
    </div>
</div>




